<!-- <div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" [routerLink]="['/synth_vocale']"
    routerLinkActive="router-link-active">Synthèse vocale</button>
  <button type="button" class="btn btn-secondary" [routerLink]="['/liste_matrices']"
    routerLinkActive="router-link-active">Liste des matrices</button>
  <button type="button" class="btn btn-secondary">Gérer les exercices</button>
  <button type="button" class="btn btn-secondary" [routerLink]="['/list_users']"
    routerLinkActive="router-link-active">Liste des utilisateurs</button>
</div> -->
