<div class="container mt-4">
  <div class="btn-group" role="group" aria-label="Basic example" *ngIf="menuVisible">
    <button type="button" class="btn btn-secondary" [routerLink]="['/synth_vocale']"
      routerLinkActive="router-link-active">Synthèse vocale</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/liste_matrices']"
      routerLinkActive="router-link-active">Liste des matrices</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/liste_base_exercices']"
      routerLinkActive="router-link-active">Gérer les exercices</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/data']" routerLinkActive="router-link-active">Gérer
      les données</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/inscription_parent/new']"
      routerLinkActive="router-link-active">Inscription parent</button>
    <button type="button" class="btn btn-secondary" [routerLink]="['/sequence']"
      routerLinkActive="router-link-active">Séquences</button>
  </div>
  <div class="body mt-2.5"></div>
  <div style="margin-top : 10px"></div>
  <router-outlet></router-outlet>
</div>
